@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section breadcrumps{
    You are here: @Html.MvcSiteMap().SiteMapPath()
}*@

<h4>This is my Rewarding project.</h4>
<p>
    Use the menu bar above to see the list of people or rewards. <br />
    You can modify them, add rewards to people, etc. <br />
    <br />
    Have a great time!
</p>

@section scripts {
    <script src="~/Scripts/bootstrap.min.js"></script>
}

